.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.label {
    display: flex;
    margin-bottom: 10px;
}

.labeltext {
    margin-right: 10px;
    width: 150px;
}

.input,
.select {
    padding: 5px;
    width: 200px;
}

.button {
    padding: 10px;
    background-color: #f2f2f2;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #e6e6e6;
}

.pillsContainer {
    display: flex;
}

.pill {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    background-color: #ffffff;
    color: #000;
    border-radius: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.pill input[type="radio"] {
    display: none;
}

.pill input[type="radio"]:checked + label {
    background-color: #55f1b6;
    color: #fff;
}

.pill:hover {
    background-color: #e6e6e6;
}