.player {
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.player--astronaut--up {
    background-image: url('./../../assets/images/player_astro_up.png');
}

.player--astronaut--down {
    background-image: url('./../../assets/images/player_astro_down.png');
}

.player--astronaut--right {
    background-image: url('./../../assets/images/player_astro_side.png');
}

.player--astronaut--left {
    background-image: url('./../../assets/images/player_astro_side.png');
    transform: rotateY(180deg);
}

.player--mouse--up {
    background-image: url('./../../assets/images/player_mouse_up.png');
}

.player--mouse--down {
    background-image: url('./../../assets/images/player_mouse_down.png');
}

.player--mouse--right {
    background-image: url('./../../assets/images/player_mouse_side.png');
}

.player--mouse--left {
    background-image: url('./../../assets/images/player_mouse_side.png');
    transform: rotateY(180deg);
}

.player--knight--up {
    background-image: url('./../../assets/images/player_knight_up.png');
}

.player--knight--down {
    background-image: url('./../../assets/images/player_knight_down.png');
}

.player--knight--right {
    background-image: url('./../../assets/images/player_knight_side.png');
}

.player--knight--left {
    background-image: url('./../../assets/images/player_knight_side.png');
    transform: rotateY(180deg);
}